/* @tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  padding-top: 2%;
  font-family: 'National Park', sans-serif;
  font-size: 3.7em;
  line-height: 1.1;
  color: #000;
}

button {
  border: 1px solid transparent;
  font-weight: 600;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: 'National Park', serif;
  padding-bottom: 10%;
}
button:hover {
  border-color: #185d51;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* National Park */
@font-face {
  font-family: 'National Park';
  src: url('./assets/fonts/NationalPark-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'National Park';
  src: url('./assets/fonts/NationalPark-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'National Park';
  src: url('./assets/fonts/NationalPark-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'National Park';
  src: url('./assets/fonts/NationalPark-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'National Park';
  src: url('./assets/fonts/NationalPark-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
/* Piazzolla */
@font-face {
  font-family: 'Piazzolla';
  src: url('./assets/fonts/Piazzolla-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Piazzolla';
  src: url('./assets/fonts/Piazzolla-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Piazzolla';
  src: url('./assets/fonts/Piazzolla-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Piazzolla';
  src: url('./assets/fonts/Piazzolla-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Piazzolla';
  src: url('./assets/fonts/Piazzolla-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 9999;
}
